<head>
    <title>Temperature index</title>
    <style type="text/css">body {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.6;
        font-size: 18px;
        color: #444;
        padding: 0 10px
    }

    h1, h2, h3 {
        line-height: 1.2
    }</style>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    {% load chartit %}
    {{ chart|load_charts:"container" }}
</head>
<body>

<h1> Temperatures</h1>

{% block content %}
    <div id="container">Chart</div>
{% endblock %}
<h2>Last update:</h2>
<h3>{{ last_measured }} measured at {{ last_date }}</h3>
{#<ul>#}
{#    {% for probe in probes %}#}
{#        <li>{{ probe }}</li>#}
{#    {% endfor %}#}
{#</ul>#}
</body>
</html>

