<head>
    <title>Temperature index</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    {% load chartit %}
    {{ chart|load_charts:"container" }}
</head>
<body>

<h1> Temperatures</h1>
Last measured:
<ul>
    <li>{{ last_measured.temperature }}</li>
    <li>{{ last_measured.timestamp }}</li>
</ul>
{% block content %}
    <div id="container">Chart</div>
{% endblock %}

{#<ul>#}
{#    {% for probe in probes %}#}
{#        <li>{{ probe }}</li>#}
{#    {% endfor %}#}
{#</ul>#}
</body>
</html>

